.bgimg {
  width: 100%;
  height: 510px;
  background-size: cover;
  margin-top: 55px;
}

.div1 h3 {
  margin-top: -450px;
  position: relative;
  color: rgb(139, 128, 115);
  margin-left: 15px;
}

.heading1 {
  font-family: "DM Serif Text", serif;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 120px;
}

.heading2 {
  font-family: "DM Serif Text", serif;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 24px;
  position: relative;
  color: rgb(142, 139, 138);
  margin-top: 50px;
  font-family: "Lora", serif;
  margin-left: 40px;
}

.heading3 {
  font-family: "DM Serif Text", serif;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-family: "Lora", serif;
  color: rgb(172, 167, 162);
  font-size: 18px;
  margin-top: 15px;
  margin-left: 40px;
}

.btnorder {
  width: 125px;
  height: 30px;
  padding-top: 1px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 48px;
  margin-top: 10px;
}

.svg1 {
  height: 500px;
  margin-left: 320px;
  margin-top: 80px;
}
.svg2 {
  height: 450px;
  margin-left: 350px;
  margin-top: -530px;
  position: relative;
}

.imgkopi {
  position: relative;
  height: 250px;
  width: 350px;
  margin-left: -410px;
  margin-top: -600px;
}
.imgkopisusu {
  position: relative;
  height: 310px;
  width: 420px;
  margin-left: -480px;
  margin-top: -630px;
}

.textkopi {
  margin-top: 120px;
  position: absolute;
  font-size: 80px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-left: -20px;
}
.textkopi2 {
  margin-top: 230px;
  position: absolute;
  font-size: 80px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-left: 50px;
}
.textkopi3 {
  margin-top: 150px;
  position: absolute;
  font-size: 80px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-left: 950px;
}
.textkopi4 {
  margin-top: 250px;
  position: absolute;
  font-size: 80px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-left: 900px;
}

.paragrafkopi {
  margin-top: 440px;
  position: absolute;
  font-size: 20px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-left: 670px;
  text-align: end;
}

.paragrafkopi2 {
  margin-top: 440px;
  position: absolute;
  font-size: 20px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-left: -50px;
  text-align: start;
}

.textblogsatu{
  margin-left: 600px; 
  margin-top: -400px;
  color: aliceblue;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.boxopen1{
  width: 200px;
  height: 200px;
  background-color: blue;
  justify-content: center;
}

.cardabout{
  width: 20rem;
   margin-left: 390px; 
   background-color:#DAA520; 
   margin-top: 100px;
}
.cardabout2{
  width: 20rem;
   margin-left: 390px; 
   background-color:#DAA520; 
   margin-top: 30px;
}

.textopen2{
  justify-content: center;
  text-align: center;
  color: aliceblue;
  margin-top: 100px;
  padding-top: 30px;
}
.textopen{
  justify-content: center;
  text-align: center;
  color: aliceblue;
  margin-top: 100px;
  padding-top: 30px;
}
.cardposition{
  margin-left: 22px;
}
.textinformation{
  float: right;
  justify-content: end;
  margin-right: 555px;
  color: white;
  margin-top: -50px;
}
.textinformation2{
  float: right;
  justify-content: end;
  margin-right: 591.5px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textinformation3{
  float: right;
  justify-content: end;
  margin-right: 595px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textinformation4{
  float: right;
  justify-content: end;
  margin-right: 626px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textinformation5{
  float: right;
  justify-content: end;
  margin-right: 609px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textinformation6{
  float: right;
  justify-content: end;
  margin-right: 634px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textcontact{
  float: right;
  justify-content: end;
  margin-right: -505px;
  color: white;
  margin-top: -190px;
  position: relative;
}
.textcontact7{
  float: right;
  justify-content: end;
  margin-right: -395px;
  color: white;
  margin-top: -137px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textcontact8{
  float: right;
  justify-content: end;
  margin-right: -412px;
  color: white;
  margin-top: -106px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.textcontact9{
  float: right;
  justify-content: end;
  margin-right: -386px;
  color: white;
  margin-top: -75px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
}
.navvv{
  margin-bottom: -200px;
  padding-bottom: -200px;
}
.bi-whatsapp{
  font-size: 23px;
  color: rgb(89, 223, 86);
}

@media only screen and (max-width: 600px) {
  .bgimg {
    height: 380px;
  }
  .cardposition{
    margin-left: -5px;
  }
  .div1 h3 {
    margin-top: -300px;
    position: relative;
    font-size: 60px;
    margin-left: 5px;
  }
  .heading2 {
    font-size: 15px;
    margin-top: 20px;
    font-family: "Lora", serif;
    margin-left: 10px;
    color: rgb(191, 191, 163);
  }
  .heading3 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(191, 191, 163);
  }
  .btnorder {
    width: 90px;
    height: 30px;
    font-size: 13px;
    padding-top: 4px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .svg1 {
    height: 320px;
    margin-top: 200px;
    margin-left: 5px;
  }
  .svg2 {
    height: 290px;
    margin-top: -350px;
    margin-left: 20px;
    position: relative;
  }

  .imgkopi {
    position: relative;
    height: 160px;
    width: 250px;
    margin-left: 20px;
    margin-top: -430px;
  }
  .imgkopisusu {
    position: relative;
    height: 200px;
    width: 300px;
    margin-left: -30px;
    margin-top: -460px;
  }
  .textkopi {
    margin-top: 90px;
    font-size: 70px;
    margin-left: 20px;
  }
  .textkopi2 {
    margin-top: 180px;
    font-size: 70px;
    margin-left: 80px;
  }
  .textkopi3 {
    margin-top: 120px;
    font-size: 70px;
    margin-left: 130px;
  }
  .textkopi4 {
    margin-top: 180px;
    font-size: 70px;
    margin-left: 30px;
  }
  .paragrafkopi {
    margin-top: 470px;
    position: absolute;
    font-size: 17px;
    text-align: center;
    margin-left: 1px;
  }
  .paragrafkopi2 {
    margin-top: 470px;
    position: absolute;
    font-size: 17px;
    text-align: center;
    margin-left: 1px;
  }
  .textblog{
    margin-left: 1px;
    margin-top: -100px;
    float: center;
    text-align: center;
    justify-content: center;
  }
  .textblogsatu{
    margin-left: 1px; 
    margin-top: 10px;
    color: aliceblue;
    font-size: 18px;
    text-align: start;
  }

  .textopen{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    font-size: 25px;
    margin-bottom: 40px;
  }
  .textopen2{
    color: aliceblue;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    font-size: 25px;
    margin-bottom: -20px;
  }
  .cardabout{
    margin-top: -80px;
    margin-left: -5px; 
  }
  .cardabout2{
    margin-top: 30px;
    margin-left: -5px; 
  }
  .textinformation{
    float: right;
    justify-content: end;
    margin-left: 10px;
    color: white;
    margin-top: 10px;
    font-size: 23px;
    position: absolute;
  }
  .textcontact{
    float: left;
    margin-left: 185px;
    color: white;
    margin-top: 10px;
    font-size: 23px;
    position: relative;
  }
  .textcontact7{
    float: left;
    margin-left: 185px;
    color: white;
    margin-top: 50px;
    font-size: 17px;
    position: relative;
  }
  .textcontact8{
    float: left;
    margin-left: 185px;
    color: white;
    font-size: 17px;
    margin-top: 80px;
    position: relative;
  }
  .textcontact9{
    float: left;
    margin-left: 185px;
    color: white;
    margin-top: 110px;
    font-size: 17px;
    position: relative;
  }
  .textinformation2{
    float: right;
    justify-content: end;
    margin-left: 20px;
    color: white;
    margin-top: 45px;
    font-size: 17px;
    position: absolute;
  }
  .textinformation3{
    float: right;
    justify-content: end;
    margin-left: 20px;
    color: white;
    margin-top: 105px;
    font-size: 17px;
    position: absolute;
  }
  .textinformation4{
    float: right;
    justify-content: end;
    margin-left: 20px;
    color: white;
    margin-top: 130px;
    font-size: 17px;
    position: absolute;
  }
  .textinformation5{
    float: right;
    justify-content: end;
    margin-left: 20px;
    color: white;
    margin-top: 165px;
    font-size: 17px;
    position: absolute;
  }
  .textinformation6{
    float: right;
    justify-content: end;
    margin-left: 20px;
    color: white;
    margin-top: 195px;
    font-size: 17px;
    position: absolute;
  }
  .textnav{
    font-size: 20px;
  }
  .navvv
  {
    padding-top: -40px;
    margin-bottom: -40px;
    padding-bottom: -20px;
  }
}